

section div {
  width: 220px;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 150px;
  font-size: 80px;
  color: black;
  background-image: linear-gradient(45deg, red, green 50%, blue);
}

div:nth-child(1) {
  transform: rotateX(0deg) translateZ(110px);
}

div:nth-child(2) {
  transform: rotateX(-90deg) translateZ(110px);
}

div:nth-child(3) {
  transform: rotateY(90deg) translateZ(110px);
}

div:nth-child(4) {
  transform: rotateY(-90deg) translateZ(110px);
}

div:nth-child(5) {
  transform: rotateY(180deg) translateZ(110px);
}

div:nth-child(6) {
  transform: rotateX(90deg) translateZ(110px);
}

section:hover {
  transform: rotateX(3600deg) rotateY(3600deg);
}
